@import "../../styles/colors.scss";

.dropdown {
  width: 416px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;

  &-content {
    position: absolute;
    width: 416px;
    height: 120px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0px 20px;
    border-radius: 8px;
    background-color: white;

    &-active {
      display: flex;
    }
    &-dark {
      background-color: $very-dark-gray;
    }
    & p {
      font-family: Plus Jakarta Sans;
      font-size: 13px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0px;
      color: $medium-gray;
      cursor: pointer;
    }
  }
}
