@import "../../styles/colors.scss";

.btn {
  width: 164px;
  height: 48px;
  background-color: $primary;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;

  &:hover {
    background-color: $primary-hover;
  }
}
