:host {
  display: flex;
  flex: 1 1 auto;
}

.header {
  display: flex;
  flex: 1 1 auto;
  align-items: center;

  background-color: var(--base-white-color);

  &-logo {
    display: flex;
    column-gap: 1rem;

    height: 100%;
    padding: 1.5rem 0 1.5rem 1rem;

    &__text {
      display: none;
    }
  }

  &-content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;

    height: 100%;
    padding: 1rem;

    &__title {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      font-size: 1.125rem;
      font-weight: 700;

      & h1 {
        font-size: inherit;
        font-weight: inherit;
        word-break: break-all;
      }

      &-arrow {
        color: #635fc7;
        cursor: pointer;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      column-gap: 1rem;

      &-mobile__button {
        width: 48px;
      }

      &-desktop__button {
        display: none;
      }

      &-more {
        position: relative;
        cursor: pointer;

        color: var(--base-medium-grey-color);

        &-popup {
          position: absolute;
          right: 0;
          top: 200%;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 1rem;

          width: 140px;
          padding: 1rem;
          border-radius: 0.5rem;
          background-color: var(--base-white-color);
          box-shadow: 0 0 2px #364e7e34;

          & button {
            background-color: transparent;
            border: none;

            font-size: 0.875rem;
            cursor: pointer;
          }

          &__edit-button {
            color: var(--base-medium-grey-color);
          }

          &__delete-button {
            color: var(--base-red-color);
          }
        }
      }
    }
  }

  &-dark {
    background-color: var(--base-dark-grey-color);

    & .header-content__title {
      color: var(--base-white-color);
    }

    & .header-content__actions-more-popup {
      background-color: var(--base-very-dark-grey-color);
    }
  }
}

@media (min-width: 768px) {
  .header {
    &-logo {
      flex: 0 1 260px;
      border-right: 1px solid var(--base-lines-light-color);

      &__border {
        border-bottom: 1px solid var(--base-lines-light-color);
      }

      &__text {
        display: inline-block;
      }
    }

    &-content {
      border-bottom: 1px solid var(--base-lines-light-color);

      &__title {
        font-size: 1.25rem;

        &-arrow {
          display: none;
        }
      }

      &__actions {
        &-desktop__button {
          display: flex;
        }

        &-mobile__button {
          display: none;
        }

        &-more-popup {
          width: 200px;
        }
      }
    }

    &-dark {
      .header-logo {
        border-right: 1px solid var(--base-lines-dark-color);

        &__border {
          border-bottom: 1px solid var(--base-lines-dark-color);
        }
      }
      .header-content {
        border-bottom: 1px solid var(--base-lines-dark-color);
      }
    }
  }
}

@media (min-width: 1200px) {
  .header-logo {
    flex: 0 1 300px;
  }

  .header-content__title {
    font-size: 1.5rem;
  }
}
