:host {
  display: flex;
  flex: 0 1 auto;
}

.base-checkbox {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  column-gap: 0.5rem;

  color: var(--base-black-color);
  font-size: 0.875rem;

  cursor: pointer;

  &__dark {
    color: var(--base-white-color);
  }

  &__checkmark {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--base-light-grey-color);
    border-radius: 3px;
    background-color: var(--base-white-color);
    min-width: 1.25rem;
    min-height: 1.25rem;

    font-size: 0.75rem;

    &-dark {
      border: 1px solid rgba(130, 143, 163, 0.24);
      background-color: var(--base-very-dark-grey-color);
    }

    &-icon {
      display: none;
    }
  }

  &__label {
    word-break: break-all;
  }

  &__checked {
    .base-checkbox__checkmark {
      background-color: var(--base-purple-color);
      color: var(--base-white-color);

      &-icon {
        display: inline-block;
      }
    }
    .base-checkbox__label {
      text-decoration: line-through;
    }
  }
}
