$primary: #635fc7;
$primary-hover: #a8a4ff;

$secondary: rgba(99, 95, 199, 0.1);
$secondary-hover: rgba(99, 95, 199, 0.25);

$destructive: #ea5555;
$destructive-hover: #ff9898;

$light-gray: #f4f7fd;
$medium-gray: #828fa3;
$dark-gray: #2b2c37;
$very-dark-gray: #20212c;
