.delete-task-modal {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  row-gap: 1.5rem;

  width: 90%;
  max-width: 480px;

  background-color: var(--base-white-color);
  color: var(--base-medium-grey-color);
  border-radius: 6px;
  padding: 2rem;

  &__dark {
    background-color: var(--base-dark-grey-color);
    color: var(--base-white-color);
  }

  &__title {
    color: var(--base-red-color);
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__description {
    color: var(--base-medium-grey-color);
    font-size: 0.875rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-button {
      flex: 1 1 auto;

      border: none;
      border-radius: 1.25rem;
      padding: 0.5rem;

      font-size: 0.875rem;
      line-height: 23px;
      font-weight: 600;

      cursor: pointer;

      &__delete {
        background-color: var(--base-red-color);
        color: var(--base-white-color);
      }

      &__cancel {
        background-color: rgba(99, 95, 199, 0.1);
        color: var(--base-purple-color);

        &-dark {
          background-color: var(--base-white-color);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .delete-task-modal__footer {
    flex-direction: row;
  }
}
