:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.kanban {
  display: flex;
  flex: 1 1 auto;

  background-color: var(--base-light-grey-color);

  &-dark {
    background-color: var(--base-black-color);
  }
}
