:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.kanban {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  background-color: var(--base-light-grey-color);

  transition: all 0.2s;

  &-dark {
    background-color: var(--base-black-color);
  }

  &-header {
    display: flex;
    flex: 0 1 auto;
  }

  &-content {
    display: flex;
    flex: 1 1 auto;

    &__sidebar {
      display: none;
    }

    &___board-presenter {
      display: flex;
      flex: 1 1 auto;
    }
  }
}

@media (min-width: 768px) {
  .kanban-content__sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 1 260px;
  }

  .kanban-content__show-sidebar-button {
    position: absolute;
    bottom: 30px;
    left: 0;

    background-color: var(--base-purple-color);
    color: var(--base-white-color);
    padding: 1.125rem 1.375rem 1.125rem 1.125rem;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

    text-align: left;
    font-size: 0.938rem;
    font-weight: 700;

    cursor: pointer;

    &:hover {
      background-color: var(--base-purple-color-hover);
    }
  }
}

@media (min-width: 1200px) {
  .kanban-content__sidebar {
    flex: 0 1 300px;
  }
}
