:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  height: 100dvh;
}

.kanban {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  background-color: var(--base-light-grey-color);

  transition: all 0.2s;

  &-header {
    display: flex;
    flex: 0 1 auto;

    height: 75px;
  }

  &-content {
    display: flex;
    flex: 1 1 auto;

    height: calc(100dvh - 75px);

    &__sidebar {
      display: none;
    }

    &__loading {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;

      color: var(--base-medium-grey-color);
      font-size: 2rem;
    }

    &__board-presenter {
      display: flex;
      flex: 1 1 0;

      overflow-x: auto;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-dark {
    background-color: var(--base-black-color);
  }
}

@media (min-width: 768px) {
  .kanban-content__sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 1 260px;
  }

  .kanban-content__show-sidebar-button {
    position: absolute;
    bottom: 30px;
    left: 0;

    background-color: var(--base-purple-color);
    color: var(--base-white-color);
    padding: 1.125rem 1.375rem 1.125rem 1.125rem;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

    text-align: left;
    font-size: 0.938rem;
    font-weight: 700;

    cursor: pointer;

    &:hover {
      background-color: var(--base-purple-color-hover);
    }
  }
}

@media (min-width: 1200px) {
  .kanban {
    &-content {
      &__sidebar {
        flex: 0 1 300px;
      }

      &__board-presenter {
        &::-webkit-scrollbar {
          display: unset;
          background-color: var(--base-white-color);
          border-radius: 2px;
          height: 4px;
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--base-white-color);
          border-radius: 2px;
          height: 4px;
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--base-lines-light-color);
          border-radius: 2px;
        }
      }
    }

    &-dark {
      .kanban-content__board-presenter::-webkit-scrollbar {
        background-color: var(--base-dark-grey-color);
      }

      .kanban-content__board-presenter::-webkit-scrollbar-track {
        background-color: var(--base-dark-grey-color);
      }

      .kanban-content__board-presenter::-webkit-scrollbar-thumb {
        background-color: var(--base-lines-dark-color);
      }
    }
  }
}
