<div class="kanban" [class.kanban-dark]="isDark()">
  <div class="kanban-header">
    <app-header [showBorderUnderLogo]="!isSidebarVisible" />
  </div>

  <div class="kanban-content">
    @if (isSidebarVisible) {
      <div class="kanban-content__sidebar">
        <app-sidebar (handleHideSidebar)="toggleSidebar()" />
      </div>
    }

    @if (isBoardLoading()) {
      <div class="kanban-content__loading">
        <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
    } @else {
      @if (boardsLength()) {
        <div class="kanban-content__board-presenter">
          <app-board-presenter />
        </div>
      }
    }

    @if (!isSidebarVisible) {
      <button class="kanban-content__show-sidebar-button" (click)="toggleSidebar()">
        <i class="fas fa-eye"></i>
      </button>
    }
  </div>
</div>
