.delete-board-modal {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  row-gap: 1.5rem;

  width: 90%;
  max-width: 480px;

  background-color: var(--base-white-color);
  color: var(--base-medium-grey-color);
  border-radius: 6px;
  padding: 2rem;

  &__dark {
    background-color: var(--base-dark-grey-color);
    color: var(--base-white-color);
  }

  &__title {
    color: var(--base-red-color);
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__description {
    color: var(--base-medium-grey-color);
    font-size: 0.875rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .delete-board-modal__footer {
    flex-direction: row;
  }
}
