<div class="sidebar" [class.sidebar-dark]="isDark()">
  <div class="sidebar__boards">
    <app-sidebar-boards />
  </div>

  <div class="sidebar__footer">
    <div class="sidebar__footer-theme">
      <app-theme />
    </div>

    @if (loggedInUser()) {
      <button class="sidebar__footer-button" (click)="handleLogoutClick()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Logout</span>
      </button>
    }

    <button class="sidebar__footer-button" (click)="handleHideSidebar.emit()">
      <i class="fas fa-eye-slash"></i>
      <span>Hide Sidebar</span>
    </button>
  </div>
</div>
