@import "../../styles/colors.scss";

.edit-modal {
  width: 480px;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: white;

  &-dark {
    background-color: $dark-gray;
    color: white;

    & input {
      color: white;
    }

    & .btn:first-of-type {
      background-color: white;
      color: $primary;
    }
  }

  &-active {
    display: flex;
  }

  & h3 {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
  }

  &__delete-btn {
    background-color: transparent;
    border: none;
    color: $medium-gray;
    cursor: pointer;
    margin-left: 5%;
    height: 14.849242210388184px;
    width: 14.849242210388184px;

    &:hover {
      color: $destructive-hover;
    }
  }

  & .btn {
    width: 90%;
    height: 40px;
  }
  & .subtasks {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .edit-task-modal {
    width: 343px;
  }
}
