@import url('assets/fonts/plus-jakarta-sans/plus-jakarta-sans.css');

:root {
  --base-purple-color: #635fc7;
  --base-purple-color-hover: #a8a4ff;
  --base-black-color: #000112;
  --base-very-dark-grey-color: #20212c;
  --base-dark-grey-color: #2b2c37;
  --base-medium-grey-color: #828fa3;
  --base-light-grey-color: #f4f7fd;
  --base-lines-dark-color: #3e3f4e;
  --base-lines-light-color: #e4ebfa;
  --base-white-color: #ffffff;
  --base-red-color: #ea5555;
  --base-red-color-hover: #ff9898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  width: 100dvw;
  height: 100dvh;

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;

  user-select: none;
}
