<div class="board-presenter" [class.board-presenter-dark]="isDark()">
  @if (!columns().length) {
    <div class="board-presenter__empty">
      <p>This board is empty. Create a new column to get started</p>
      <button class="button button-primary" (click)="handleAddNewColumnClick()">
        + Add New Column
      </button>
    </div>
  } @else {
    @for (column of columns(); track column.id) {
      <div class="board-presenter__column">
        <h4>{{ column.name }} ({{ column.tasks.length }})</h4>

        <div
          cdkDropList
          [id]="column.id"
          [cdkDropListData]="column.tasks"
          class="board-presenter__column-tasks"
          [cdkDropListConnectedTo]="connectedDropLists"
          (cdkDropListDropped)="dropTask($event, column)"
        >
          @for (task of column.tasks; track task.id) {
            <app-task
              cdkDrag
              [cdkDragDisabled]="isDragAndDropSaving"
              [cdkDragData]="task"
              [task]="task"
            />
          }
        </div>
      </div>
    }
    <div
      class="board-presenter__column board-presenter__column-add"
      [class.board-presenter__column-add__dark]="isDark()"
    >
      <button class="board-presenter__column-add__button" (click)="handleAddNewColumnClick()">
        + New Column
      </button>
    </div>
  }
</div>
