:host {
  display: flex;
  flex: 1 1 auto;
}

.board-presenter {
  display: flex;
  flex: 1 1 auto;
  column-gap: 1.5rem;

  padding: 1.5rem 1rem;

  &__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    row-gap: 1.5rem;

    min-width: 280px;

    & h4 {
      color: var(--base-medium-grey-color);

      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.08rem;
    }

    &-add {
      display: flex;
      justify-content: center;

      border-radius: 0.375rem;
      background: var(--base-lines-light-color);

      &__dark {
        background: var(--base-dark-grey-color);
      }

      &__button {
        flex: 1 1 auto;

        border: none;
        background-color: transparent;
        color: var(--base-medium-grey-color);

        font-size: 1.375rem;
        font-weight: 700;

        cursor: pointer;
      }
    }

    &-tasks {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      row-gap: 1.25rem;
    }
  }
}
