<div
  class="board-presenter"
  [class.board-presenter-dark]="themeService.getCurrentTheme()() === 'dark'"
>
  <div *ngIf="!columns.length" class="board-presenter__empty">
    <p>This board is empty. Create a new column to get started</p>
    <button class="button button-primary">+ Add New Column</button>
  </div>

  <ng-container *ngIf="columns.length">
    <div class="board-presenter__column" *ngFor="let column of columns">
      <h4>{{ column.name }} ({{ column.tasks.length }})</h4>

      <div class="board-presenter__column-tasks">
        <div
          class="board-presenter__column-tasks__task"
          *ngFor="let task of column.tasks"
        >
          <p class="board-presenter__column-tasks__task-title">
            {{ task.title }}
          </p>
          <span class="board-presenter__column-tasks__task-subtasks">
            {{ getNumberOfFinishedSubtasksForTask(task) }} of
            {{ task.subtasks.length }} subtasks
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
